In [109]:
import pandas as pd
import numpy as np
from datetime import date

In [12]:
df = pd.read_csv('D:/Data Science/FIFA21-Data-Analysis/fifa21_raw_data.csv', low_memory = False)

In [38]:
#print(df.head())
#print(df.columns)
#print(df.shape)
#print(df.isnull().sum())
#print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 79 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
 77  Weight (in kg)    18979 non-null  float64
 78  Height (in cm)    18979 non-null  float64
dtypes: float64(2), int64(55), object(22)
memory usage: 11.4+ MB
None

* Convert weight from lbs to kg and create new column

In [14]:
df['Weight (in kg)'] = df.Weight.str.replace('lbs', '')
df['Weight (in kg)'] = df['Weight (in kg)'].astype(float) * 0.453592
print(df['Weight (in kg)'].head())

0    72.121128
1    83.007336
2    87.089664
3    69.853168
4    68.038800
Name: Weight (in kg), dtype: float64

* Convert Height from inches to cm

In [25]:
df['Height (in cm)'] = df['Height'].str.replace("'", '.').str.replace('"', '')
df['Height (in cm)'] = (df['Height (in cm)'].astype(float) * (30.48)).round(2)
print(df['Height (in cm)'].head())

0    173.74
1    188.98
2    188.98
3    155.75
4    179.83
Name: Height (in cm), dtype: float64

* Convert Joined column to day, month and year columns

In [51]:
#print(df.Joined.head(20))
#print(df.Joined.unique())
df['Joined'] = pd.to_datetime(df['Joined'])
#print(df.Joined.dtype)
df['Year'] = df['Joined'].dt.year
df['Month'] = df['Joined'].dt.month
df['Day'] = df['Joined'].dt.day

print(df[['Joined', 'Year', 'Month', 'Day']].head())

      Joined  Year  Month  Day
0 2004-07-01  2004      7    1
1 2018-07-10  2018      7   10
2 2014-07-16  2014      7   16
3 2015-08-30  2015      8   30
4 2017-08-03  2017      8    3

* Convert wage, value, Relase clause from string to int (M =million)

In [102]:
def convertWage(wage):
    if 'K' in wage:
        wage = wage.replace('K', '')
        wage = int(wage) * 1000
    else:
        wage = int(wage)
        
    return wage

def convertValue(value):
    value = value.lstrip('â‚¬')
    if 'M' in value:
        value = value.replace('M', '')
        value = float(value) * 1000000
    elif 'K' in value:
        value = value.replace('K', '')
        value = float(value) * 1000
        
    return value

def convertReleaseClause(rc):
    rc = rc.lstrip('â‚¬')
    if 'M' in rc:
        rc = rc.strip('M')
        rc = int(float(rc) * 1000000)
    elif 'K' in rc:
        rc = rc.strip('K')
        rc = int(float(rc) * 1000)
    
    return int(rc)

#print(df[['Wage', 'Value', 'Release Clause']].head())
#print(df.Wage.unique())

df['Wage (in euro)'] = df.Wage.str.replace('â‚¬', '')
df['Wage (in euro)'] = df['Wage (in euro)'].apply(convertWage)
print(df['Wage (in euro)'])

#df['Value'].unique()
df['Value (in euro)'] = df['Value'].apply(convertValue)
print(df['Value (in euro)'])

#df['Release Clause'].head()
#df['Release Clause'].unique()
df['Release Clause (in euro)'] = df['Release Clause'].apply(convertReleaseClause)
print(df['Release Clause (in euro)'])

0        560000
1        220000
2        125000
3        370000
4        270000
          ...
18974      1000
18975       500
18976      1000
18977       500
18978       500
Name: Wage (in euro), Length: 18979, dtype: int64
0        67500000.0
1        46000000.0
2        75000000.0
3        87000000.0
4        90000000.0
            ...
18974       35000.0
18975       60000.0
18976       40000.0
18977       60000.0
18978       60000.0
Name: Value (in euro), Length: 18979, dtype: object
0        138400000
1         75900000
2        159400000
3        161000000
4        166500000
           ...
18974        57000
18975       165000
18976        70000
18977       165000
18978       167000
Name: Release Clause (in euro), Length: 18979, dtype: int64

* Player playing for current club more than 10 years

In [126]:
df.Joined = pd.to_datetime(df['Joined'])
df.Joined = df.Joined.dt.date
today = date.today()

days_in_year = 365.2425
for idx, join in df.Joined.iteritems():
    if(int((today - join).days / days_in_year) >= 10):
        df.loc[idx, '10 Years'] = True
    else:
        df.loc[idx, '10 Years'] = False
    
print(df[['Joined', '10 Years']].head())

       Joined 10 Years
0  2004-07-01     True
1  2018-07-10    False
2  2014-07-16    False
3  2015-08-30    False
4  2017-08-03    False